<ul>
  {{#each data}}
   <img width="20%" src="{{this.path}}">
  {{/each}}
</ul>

 <button class="btn btn-outline-success mx-2"><a class="text-decoration-none text-success" href="#mynav">Go Top</a></button>